[submodule "submodules/DependentValuePresentationFramework"]
	path = submodules/DependentValuePresentationFramework
	url = git@github.com:ceilingwaffle/DependentValuePresentationFramework.git
[submodule "submodules/ProcessMemoryDataFinder"]
	path = submodules/ProcessMemoryDataFinder
	url = git@github.com:Piotrekol/ProcessMemoryDataFinder.git
[submodule "submodules/Oppai.w.Net"]
	path = submodules/Oppai.w.Net
	url = git@github.com:MikiraSora/Oppai.w.Net.git
[submodule "submodules/osu-BMAPI"]
	path = submodules/osu-BMAPI
	url = https://github.com/smoogipoo/osu-BMAPI.git
